<img src="static/images/selfie.jpg" alt="Mouse Reeve">
<p>
    Mouse Reeve likes persimmons.
    She <a href="https://twitter.com/tripofmice" target="_blank">tweets</a> rarely,
    <a href="https://github.com/mouse-reeve/book-catalogue" target="_blank">reads</a> often,
    and <a href="http://www.julialemke.com/drift/" target="_blank">sometimes</a>
    <a href="http://www.instructables.com/id/Adapting-a-Telephone-Handset-to-a-Cell-Phone/" target="_blank">makes</a>
    <a href="http://boingboing.net/2009/01/10/mandebrot-the-fracta.html" target="_blank">things</a>.
    <a href="mailto:mousereeve@riseup.net">Get in touch</a> if you have something to say or just want to email someone, anyone, a picture of your cat.
</p>
<p>
    Photo credit <a href="https://twitter.com/EmilyGarfield">@EmilyGarfield</a>
</p>
