{% import 'macros/activity.html' as activity_chart %}
{% extends "layout.html" %}
{% block body %}
<p>it's ok to be confused</p>

<div class="card">
    <p>
        <q><a href="{{ (pages | random).link }}">
            Anyone who uses arithmetic methods to produce random numbers is in a state of sin.
        </a></q> --- John von Neumann
    </p>
</div>

<div class="card navigation">
    {% for page in pages %}
    <a href="/{{ page.link }}">{{ page.display | safe }}</a>
    {% endfor %}
</div>

{{ activity_chart.activity(activity, false) }}

<div class="card navigation">
    <a href="https://blog.mousereeve.com/" target="_blank">blog</a>

    <a href="https://twitter.com/brand_new_facts" target="_blank">brand new facts</a>
    <a href="https://fortunes.churchofdada.com/" target="_blank">fortunes</a>
    <a href="https://www.grimoire.org/" target="_blank">grimoire.org</a>
    <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xCD9A922FEF10CB25" target="_blank">pgp</a>
</div>

<div class="card">
    <ul>
        <li>
            <i class="fa fa-twitter"></i>
            <a href="https://twitter.com/tripofmice" target="_blank">tripofmice</a>
        </li>
        <li>
            <i class="fa fa-github"></i>
            <a href="https://github.com/mouse-reeve" target="_blank">mouse-reeve</a>
        </li>
        <li>
            <i class="fa fa-envelope"></i>
            <a href="mailto:mousereeve@riseup.net" target="_blank">mousereeve@riseup.net</a>
        </li>
    </ul>
</div>
{% endblock %}
