<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mouse Reeve</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="static/styles/format.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Mouse Reeve">
    <meta name="og:title" content="Mouse Reeve">
    <meta name="twitter:description" content="it's ok to be confused">
    <meta name="og:description" content="it's ok to be confused">
    <meta name="twitter:creator" content="@tripofmice">
    <meta name="twitter:site" content="@tripofmice">
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/749108502136692736/EntzN-cf.jpg">
    <meta name="og:image" content="https://pbs.twimg.com/profile_images/749108502136692736/EntzN-cf.jpg">
    <meta name="twitter:image:alt" content="Mouse Reeve's face">

    <meta name="robots" content="index, follow">
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.grimoire.org/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 2]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.grimoire.org/piwik/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

</head>

<body>
    <header>
        <h1><a href="/">Mouse Reeve</a> <small>It's ok to be confused</small></h1>
    </header>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
