<img src="static/images/selfie.gif" alt="This is Mouse">
<p>
    Mouse Reeve has failed the turing test 3 times (so far), and survived at least one attempt at SQL injection.
    She <a href="https://twitter.com/tripofmice" target="_blank">tweets</a> rarely,
    <a href="https://www.goodreads.com/user/show/22467583-mousemousemouse-reeve" target="_blank">reads</a> often,
    and <a href="http://www.julialemke.com/drift/" target="_blank">sometimes</a>
    <a href="http://www.instructables.com/id/Adapting-a-Telephone-Handset-to-a-Cell-Phone/" tagert="_blank">makes</a>
    <a href="http://boingboing.net/2009/01/10/mandebrot-the-fracta.html" target="_blank">things</a>.
    Mouse is her real name, but you can also call her Salt Marsh or Мышка.
    <a href="mailto:mouse.reeve@gmail.com">Get in touch</a> if you have something to say or just want to email someone, anyone, a picture of your cat.
</p>
