<dl class="clock">
    <dt>12 hour time</dt>
    <dd class="time">{{clock | date:'h:mm:ss a'}}</dd>

    <dt>Time</dt>
    <dd class="time">{{clock | date:'H:mm:ss'}}</dd>

    <dt>Reversed time</dt>
    <dd class="time">{{clock | date:'H:mm:ss' | reverseTime}}</dd>

    <dt>Hexadecimal reversed time</dt>
    <dd class="time">{{clock | date:'H:mm:ss' | reverseTime | timeToBase:16}}</dd>

    <dt>Hexadecimal color reversed time</dt>
    <dd class="time color-time" style="background-color: #{{clock | date:'H:mm:ss' | reverseTime | timeToBase:16:true}}">
        #{{clock | date:'H:mm:ss' | reverseTime | timeToBase:16:true}}
    </dd>

    <dt>Hexadecimal color time</dt>
    <dd class="time color-time" style="background-color: #{{clock | date:'H:mm:ss' |  timeToBase:16:true}}">
        #{{clock | date:'H:mm:ss' | timeToBase:16:true}}
    </dd>

    <dt>Hexadecimal time</dt>
    <dd class="time">
        {{clock | date:'H:mm:ss' | timeToBase:16}}
    </dd>

    <dt>Trinary time</dt>
    <dd class="time">{{clock | date:'H:mm:ss' | timeToBase:3}}</dd>

    <dt>Binary time</dt>
    <dd class="time">{{clock | date:'H:mm:ss' | timeToBase:2}}</dd>

    <dt>Negabinary time</dt>
    <dd class="time">{{clock | date:'H:mm:ss' | timeToNegativeBase:2}}</dd>

    <dt>Negadecimal time</dt>
    <dd class="time">{{clock | date:'H:mm:ss' | timeToNegativeBase:10}}</dd>

    <dt>Roman numeral time</dt>
    <dd class="time">{{clock | date:'H:mm:ss' | timeToRoman}}</dd>
</dl>
