<p>{{text}}</p>

<p><q><a href="" ng-click="randomPage()">Anyone who uses arithmetic methods to produce random numbers is in a state of sin.</a></q> --- John von Neumann</p>

<div id="navigation" class="card">
    <a href="#/clocks">clocks</a>
    <a href="#/chomsky">chomp</a>
    <a href="#/thesaurus">sense</a>
    <a href="#/kipple">kipple</a>
    <a href="#/resume">resume</a>
    <a href="#/about">about</a>
</div>

<div id="external" class="card">
    <a href="https://github.com/mouse-reeve/portfolio"><i class="fa fa-github"></i></a>
</div>


