<div class="text">

<section>
    <h2>Education</h2>
    <h3>University of Washington</h3>
    <ul>
        <li>Bachelor of Arts, Anthropology</li>
        <li>Minor in Mathematics</li>
        <li>Coursework in Java, web programming, Unic, and Matlab</li>
    </ul>

    <h3>Foothill Community College</h3>
    <p>Computer science classes concurrently with high school.</p>
</section>

<section>
    <h2>Experience</h2>
    <h3>Radius Intelligence</h3>
    <h4>Software Engineer</h4>
    <time datetime="2013-01-02">Jan 2013</time> - present
    <p>Front end and API engineering for a web application using Java, JavaScript, Angular.js, and Python</p>

    <h3>UW Information Technology</h3>
    <h4>Student Web Developer</h4>
    <time datetime="2012-04-01">April 2012</time> - <time datetime="2012-12-15">Dec 2012</time>
    <p>Developed mobile and web applications in Python and JavaScript for student and university use.</p>

    <h3>Nikola Project, UW Electrical Engineering</h3>
    <h4>Student System Administrator</h4>
    <time datetime="2011-04-01">April 2011</time> - <time datetime="2011-10-01">Oct 2011</time>
    <p>Provided technical support and maintenance for Linux servers and workstations.</p>

    <h3>SSLI Lab</h3>
    <h4>Research Assistant</h4>
    <time datetime="2011-06-01">June 2011</time> - <time datetime="2011-08-01">Aug 2011</time>
    <p>Developed and assisted in implementing algorithms for natural language processing.</p>

    <h3>UW IMA</h3>
    <h4>Roller Skating Supervisor</h4>
    <time datetime="2010-09-01">Sept 2010</time> - <time datetime="2012-11-01">Nov 2012</time>
    <p>Taught basic skating skills, gave out rental skates, monitored and enforced safety rules</p>
</section>


