<div class="text">
    <p thesaurus>
    Meaning is a tiny, fragile thing. The rules that define it are both arbitrary
    and ambiguous. Consider language - what made perfect sense 300 years ago is
    almost incomprehensible now, and what makes perfect sense now will be just as
    incoherent 300 years hence. And consider how many words there are in current,
    common use English. It’s a finite, if somewhat ill-defined number. But just
    imagine how many words could exist within the same phonological and morphological
    constraints. The number is enormous, perhaps even infinite. And all of them
    nonsense. Because nonsense is vast, and nonsense is robust.
    <p>
</div>
