* {
    border: 0;
    padding: 0;
    margin: 0;
}

header {
    text-transform: uppercase;
    font-family: sans-serif;
}

h1 small {
    color: #c0c0c0;
}

.navigation a {
    margin-right: 0.25em;
}

.clock {
    float: left;
    width: 12em;
    height: 2em;
    border: .1em;
    padding: .5em;
    margin: .2em;
    text-align: center;
}

.label {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: .65em;
    color: #c0c0c0;
}

.time {
    font-family: monospace;
    padding: .2em;
}
.color-time {
    color: white;
}

.text > p {
    margin: .8em 0;
}

.text section {
    margin-bottom: 1em;
    clear: both;
    overflow: auto;
}

.text h2 {
    font-family: sans-serif;
    margin-bottom: .5em;
}

.text h3 {
    margin-top: 1em;
    font-size: .85em;
}

.text h4 {
    font-weight: normal;
    font-style: italic;
}

.text .time {
    float: right;
}

.skills li {
    list-style: none;
    float: left;
    padding-right: .8em;
}

q a {
    color: black;
    text-decoration: none;
}

.toggle {
    text-align: center;
    font-size: 1.2em;
    color: blue;
    cursor: pointer;
}

#external a {
    font-size: 2em;
    color: black;
}

.card {
    margin-bottom: 1em;
}

img {
    max-width: 100%;
}

.status-chart {
    height: 15em;
    width: 30em;
    overflow: visible;
    text-align: center;
}

.status-bar {
    float: left;
    margin-right: 0.2em;
}

.status-spacer {
    width: 2em;
    height: 0;
}
