{% macro activity(data, show_all) %}
<div class="status-chart">
    {% for day in data.stats.days %}
    <div class="status-bar">
        {% if show_all  %}
        <p>
            {% if show_all %}
            <a href="#">{{ day.day }}</a>
            {% else %}
            <span>{{ day.day }}</span>
            {% endif %}
        </p>
        {% endif %}
        {% if not show_all %}
        <p class="status-spacer"></p>
        {% endif %}
        {% for i in range(day.count) %}
        <p class="tick">*</p>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% if show_all %}
<div class="status-activity">
    <h3 class="date-header">{{ data.activity[-1].date }}</h3>
    {% for item in data.activity %}
    <p>
        {{ item.time }}:
        {{ item.site }}
        ({% if item.site == 'Twitter' or item.site == 'Instagram' %}<a href="{{ item.link }}" target="_blank">{{ item.action }}</a>{% else %}<span>{{ item.action }}</span>{% endif %})
    </p>
    {% endfor %}
</div>
{% endif %}
{% endmacro %}
