<div class="status-chart">
    <div class="status-bar" ng-repeat="(date, count) in days">
        <p>
            <a href ng-click="setFilter(date)">{{ date | date:'EEE'}}</a></p>
        <p class="tick" ng-repeat="i in range(count) track by $index">*</p>
    </div>
</div>

<h3 class="date-header" ng-if="filterValue">{{ filterValue | date:'EEEE, MMMM dd, yyyy'}}</h3>
<p ng-repeat="item in activity | orderBy:'time':-1 | filter : filterValue">
    {{ item.time | date : 'h:mm:ss a' }}:
    {{ item.site }} (<a href="{{ item.link }}" target="_blank">{{ item.action }}</a>)
</p>
